.uniforme{
  display:inline-block;
  width: 150px;
  height: 30px;
  padding: 15px 120px;
  margin: auto;
  text-align: center;
  margin-right: 15px;
  }
  #a1{
    background-color:  yellow;
  }
  #a2{
    display:inline-block;
    width: 30px;
    height: 30px;
    padding: 15px;
    background-color:#FF0040 ;
    margin-right: 15px;
  }
  #a3{
    background-color:  yellow;
    text-transform:  uppercase;
  }
